/* Styles go here */

body {
  font: 7px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* hide y axis */

.axis .tick line,
.axis path {
  display: none;
}

svg {
  transform: rotate(-60deg);
}

/* .text-class {
  transform: rotate(90);
} */

.category-circle {
  fill: #fff;
}

.question-circle {
  fill: url(#gradient-questions);
}

.chart-area-circle {
  stroke: #fff;
  stroke-width: 3px;
  fill: url(#gradient-chart-area);
}

.center-circle {
  fill: #fff;
}

.bars {
  fill: url(#gradient-bars);
}

.gridlines {
  fill: none;
  stroke: #fff;
}

.minor {
  stroke-width: 1px;
}

.major {
  stroke-width: 6px;
}

.question-label-arc {
  /*fill: white;
    stroke: #AAAAAA;
    fill: url(#gradient-questions);*/
}

.category-label-text {
  font-weight: bold;
  font-size: 14px;
  fill: #000;
}

.question-label-text {
  font-size: 7px;
  font-weight: bold;
  fill: gray;
}

.question-labels {
  text-anchor: middle;
  font-weight: bold;
}

.category-labels {
  text-anchor: middle;
  font-weight: bold;
  font-size: 14px;
  fill: #fff;
}
